/* CSS Document */

#dataInput input {
	background-color: white;
	width: 73px;
	height: 42px;
	color: #990000;
	font-size: 31px;
	position: absolute;
	top: 191px;
	left: 45px;
	border: none;
	display: none;
}